.chat-container {
  padding: 12px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #31c48d;
  box-shadow: 0px 8px 14px 5px rgb(0 0 0 / 15%);
  border-radius: 50%;
  width: 60px;
  cursor: pointer;
}

.chat-window {
  position: fixed;
  bottom: 95px;
  right: 25px;
  width: 350px;
  height: 450px;
  background-color: white;
  z-index: 10;
  -webkit-box-shadow: 0px 8px 14px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 14px 5px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

.chat-window-top {
  float: right;
  height: 2rem;
  width: 100%;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.chat-btn {
  border-top-right-radius: 1rem;
  cursor: pointer;
  float: right;
  background: transparent;
  border: none;
  color: #31c48d;
  padding-right: 18px;
  font-size: 20px;
}

.chat-window-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 85%;
    width: 100%;
}

.chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 1rem;
  padding-bottom: 8px;
}
