.create-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 60%;
  min-height: 100vh;
  height: 100%;
  margin: 2.5rem auto;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 8px 14px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 14px 5px rgba(0, 0, 0, 0.3);
}

.create-section-container {
  display: flex;
  width: 100%;
  height: 990px;
}

.create-img-container {
  height: 100%;
  width: 100%;
}

.create-img {
  width: 100%;
  height: 990px;
  object-fit: cover;
  margin: unset;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}


.create-form-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
}

.create-title {
  font-size: 2.3rem;
  padding-top: 1rem;
  text-align: center;
}

.create-form label {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0.3rem;
  /* margin-bottom: 0.2rem; */
}

.create-name,
.create-desc,
.create-type,
.create-tel,
.create-price,
.create-img {
  border: 1px solid black;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.create-name::placeholder,
.create-desc::placeholder,
.create-type::placeholder,
.create-tel::placeholder,
.create-price::placeholder,
.create-img::placeholder {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  color: gray;
}

.create-name-alert::placeholder,
.create-desc-alert::placeholder,
.create-type-alert::placeholder,
.create-tel-alert::placeholder,
.create-price-alert::placeholder,
.create-img-alert::placeholder{
  color: red;
}

.create-desc {
  height: 120px;
}

.create-offer-label {
  display: flex;
  align-items: center;
}

.create-offer {
  margin-left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.create-offer :checked {
  background: #31c48d;
}

.create-btn {
  margin: 1rem 0;
  font-size: 1.5rem;
  background-color: #31c48d;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 1rem;
  margin-bottom: 2.2rem;
  width: 40%;
  cursor: pointer;
}

.inactive {
  margin: 1rem 0;
  font-size: 1.5rem;
  background-color: #31c48e75;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 1rem;
  margin-bottom: 2.2rem;
  width: 40%;
}

.create-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.create-cancel {
  text-align: center;
  text-decoration: none;
  margin: 1rem 0;
  font-size: 1.5rem;
  background-color: #e40f0f;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 1rem;
  margin-bottom: 2.2rem;
  width: 40%;
}

@media only screen and (max-width: 820px) {
  .create-section{
    width: 95%;
  }
}

@media only screen and (max-width: 380px) {
  .create-section{
    width: 95%;
  }

  .create-section-container{
    flex-direction: column;
    height: 100%;
  }

  .create-img-container{
    height: 500px;
  }
  .create-img{
    height: 500px;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}
