.chat-window-section {
  display: flex;
  width: 80%;
  flex-direction: column;
  height: 90vh;
  background: white;
  justify-content: center;
  margin: 3rem auto;
  border-radius: 1rem;
  box-shadow: 0px 8px 14px 5px rgba(0, 0, 0, 0.15);
  position: relative;
}

.chat-window-content-mychat {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 95%;
  width: 100%;
}
.chat-window-content-mychat::-webkit-scrollbar {
  width: 0;
}


.chat-window-container {
  height: 100%;
}

.chat-form-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 1rem;
  padding-bottom: 8px;
  height: 3rem;
}
