.feed-content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 10px;
  width: 100%;
  height: 92%;
  overflow-y: auto;
  align-items: baseline;
  justify-content: end;
}

.feed-content-container::-webkit-scrollbar{
  width: 6px;
}

.feed-content-container::-webkit-scrollbar-thumb{
  background-color: #b3f8cd;
}

.feed-content-text {
  background-color: #bee3f8;
  border-radius: 20px;
  padding: 5px 15px;
  max-width: 75%;
  grid-column: 1 / 2;
  position: relative;
}

.feed-content-text.from-user {
  background-color: #bee3f8;
  margin-top: 6px;
  border-radius: 20px;
  padding: 5px 15px;
  max-width: 65%;
  margin-left: auto;
  margin-right: 6px;
  text-align: start;
}

.feed-content-text.from-other {
  background-color: #b9f5d0;
  margin-top: 6px;
  border-radius: 20px;
  padding: 5px 15px;
  max-width: 65%;
  margin-left: 6px;
  margin-right: auto;
  text-align: end;
}

.time-stamp {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: gray;
  font-size: 12px;
  z-index: 1;
}

.left {
  left: 140%;
}

.right {
  right: 140%;
}
