.pagination-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 4px;
}

.page-link {
  background: #31c48d;
  color: white;
  display: inline-block;
  padding: 2px 15px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 380px) {
  .pagination {
    padding-left: 0;
  }
}

@media only screen and (max-width: 820px) {
  .pagination{
    padding-left: 0;
  }
}
