@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    height: 20vh;
  }
}

.nav {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  height: 15vh;
  max-height: 25vh;
  width: 100%;
  background-color: #31c48d;
  -webkit-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-logo {
  color: white;
  font-size: 2.5rem;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: row;
}

.nav-logo-container {
  width: 30%;
  height: 30%;
}

.nav-list-container {
  margin-right: 2.5rem;
}

.logo {
  display: block;
  padding: 1rem;
  height: 98%;
  width: 45%;
  object-fit: contain;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 50%;
}

.nav ul li {
  padding-right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: row;
}

.guest {
  display: flex;
  flex-direction: row;
}
