.nav {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  height: 15vh;
  max-height: 25vh;
  width: 100%;
  background-color: #31c48d;
  -webkit-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-logo {
  color: white;
  font-size: 2.5rem;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: row;
}

.nav-logo-container {
  min-width: 150px;
  min-height: 150px;
}

.nav-list-container {
  margin-right: 2.5rem;
}

.logo {
  display: block;
  padding: 1rem;
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 50%;
}

.nav ul li {
  padding-right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.user {
  display: flex;
  flex-direction: row;
}

.guest {
  display: flex;
  flex-direction: row;
}

.burger-menu {
  display: none;
  font-size: 2rem;
  margin-right: 2rem;
  color: white;
}

@media only screen and (max-width: 820px) {
  .nav-list-container {
    position: relative;
  }

  .nav ul {
    position: absolute;
    top: 70px;
    width: 300px;
    height: 30vh;
    background: #31c48d;
    flex-direction: column;
    -webkit-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
  }
  .nav ul li:nth-child(1) {
    margin-top: 1rem;
  }

  .user,
  .guest {
    flex-direction: column;
  }

  .nav ul.active {
    left: 88px;
    z-index: 3;
  }

  .nav ul.deactive {
    display: none;
    left: 390px;
  }

  .burger-menu {
    display: flex;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 380px) {
  .nav-list-container {
    position: relative;
  }

  .nav ul {
    position: absolute;
    top: 33px;
    width: 375px;
    height: 60vh;
    background: #31c48d;
    flex-direction: column;
    box-shadow: 0px 8px 14px 0px rgb(0 0 0 / 30%);
    transition: 0.3s ease-in-out;
  }
  .nav ul li:nth-child(1) {
    margin-top: 1rem;
  }

  .nav ul.active {
    left: -214px;
    z-index: 3;
  }


  .nav ul.deactive {
    left: 170px;
    display: none;
  }

  
  .burger-menu {
    display: flex;
    font-size: 2.5rem;
  }
}
